<div class="bk">
<div class="container">
<div class="a">
<button type="button" class="btn btn-primary active" [routerLink]="['/createTeam']">Create Team</button>
</div>
<div class="b">
<button type="button" class="btn btn-primary active" [routerLink]="['/createPlayer']">Create Player</button>
</div>
<div class="c">
<button type="button" class="btn btn-primary active" [routerLink]="['/ShowTeam']">Show Team</button>
</div>
<div class="d">
<button type="button" class="btn btn-primary active" [routerLink]="['/ShowPlayer']">Show Player</button>
</div>
</div>
</div>