<div class="container">
    <h2>Create New Player</h2>
    <form  (ngSubmit)="createPlayer()">
       
      <div class="form-group">
        <label for="playername">Player Name:</label>
        <input type="text" class="form-control" id="playername" placeholder="Enter player name" name="playername" 
           [(ngModel)]="player.playerName" [ngModelOptions]="{standalone: true}">
      </div>

      <div class="form-group" >
        <label for="playerBuddingBudget">Player Bidding Budget:</label>
        <input type="number" class="form-control" id="playerBuddingBudget"  name="playerBuddingBudget" 
          [(ngModel)]="player.playerBiddingBudget" [ngModelOptions]="{standalone: true}">
      </div>

        <div class="input-group input-group-sm-mb-3">
          <select [(ngModel)]="player.playerTeamName" [ngModelOptions]="{standalone: true}">
            <option value="0">--select teamname--</option>
        <option *ngFor="let team of teams" [value]="team">{{team}}</option>
        <option>NA</option>
          </select>
        </div>

     
      <button type="submit" class="btn btn-info">Create Player</button>
    </form>
   
  </div>
